@model IEnumerable<WareHouse_WebApp.Models.GoodsReceipt>

@{
    ViewData["Title"] = "Index";
}

<header>
    <style>
        .title {
            display: flex;
            justify-content: center; /* Căn giữa theo chiều ngang */
        }
    </style>
</header>

<h1 class="title">QUẢN LÝ PHIẾU NHẬP HÀNG</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                Mã phiếu nhập
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Tổng giá trị
            </th>
            <th>
                Giá giảm
            </th>
            <th>
                Cần thanh toán
            </th>
            <th>
                Đã thanh toán
            </th>
            <th>
                Phương thức
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.GoodsReceiptId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOwed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayMethod)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GoodsReceiptId">SỬA</a> |
                <a asp-action="Details" asp-route-id="@item.GoodsReceiptId" asp-route-manufac="@item.ManufacturerId" asp-route-product="@item.ProductId">THÔNG TIN</a> |
                <a asp-action="Delete" asp-route-id="@item.GoodsReceiptId">XÓA</a>


            </td>
        </tr>
}
    </tbody>
</table>
