@model WareHouse_WebApp.Models.CbDeliModel

@{
    ViewData["Title"] = "Create";
}
@{
    var lastItem = TempData["LastdeliveryNoteId"];
    string LastdeliveryNoteId = "DN01";
    if (lastItem != null)
    {
        LastdeliveryNoteId = TempData["LastdeliveryNoteId"].ToString();
        string numberPart = LastdeliveryNoteId.Substring(2);
        if (int.TryParse(numberPart, out int number))
        {
            number++;
            LastdeliveryNoteId = $"DN{number:D2}";
        }
    }
}
<header>
    <style>
        .title {
            display: flex;
            justify-content: center; /* Căn giữa theo chiều ngang */
        }
    </style>
</header>

<h1 class="title">TẠO PHIẾU XUẤT KHO</h1>
<hr />
<div class="row title">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="deliveryNotes.ProductId" class="control-label">Sản phẩm</label>
                <select asp-for="deliveryNotes.ProductId" id="selectedProduct" class="form-control">
                    <option>Chọn sản phẩm</option>
                @foreach (var product in Model.products)
                {
                        <option value="@product.ProductId" data-price="@product.SellingPrice" data-maxquantity="@product.Amount">@product.ProductName</option>
                }
                </select>
                
                <span asp-validation-for="deliveryNotes.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deliveryNotes.AmountProduct" class="control-label">Số lượng</label>
                <input asp-for="deliveryNotes.AmountProduct" id="quantity" class="form-control" />
                <span asp-validation-for="deliveryNotes.AmountProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deliveryNotes.CustomerId" class="control-label">Khách hàng</label>
                <select asp-for="deliveryNotes.CustomerId" class="form-control">
                @foreach (var customer in Model.customers)
                {
                    <option value="@customer.CustomerId">@customer.CustomerName</option>
                }
                </select>
                <span asp-validation-for="deliveryNotes.CustomerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="deliveryNotes.TotalAmount" class="control-label">Tổng tiền</label>
                <input asp-for="deliveryNotes.TotalAmount" class="form-control" id="totalPrice" readonly />
                <span asp-validation-for="deliveryNotes.TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deliveryNotes.AmountPaid" class="control-label">Đã thanh toán</label>
                <input asp-for="deliveryNotes.AmountPaid" id="paidAmount" class="form-control" />
                <span asp-validation-for="deliveryNotes.AmountPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deliveryNotes.AmountOwed" class="control-label">Còn nợ</label>
                <input asp-for="deliveryNotes.AmountOwed" id="totalDebt" class="form-control" readonly/>
                <span asp-validation-for="deliveryNotes.AmountOwed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deliveryNotes.PayMethod" class="control-label">Phương thức TT</label>
                <select asp-for="deliveryNotes.PayMethod" class="form-control">
                    <option value="Tiền mặt">Tiền mặt</option>
                    <option value="Chuyển khoản">Chuyển khoản</option>
                    <option value="Thẻ">Thẻ</option>
                </select>
                <span asp-validation-for="deliveryNotes.PayMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="TẠO PHIẾU" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="title" asp-action="Index">DANH SÁCH PHIẾU</a>
</div>
<script>
    document.getElementById('selectedProduct').addEventListener('change', function() {
        var maxQuantity = parseInt(this.options[this.selectedIndex].getAttribute('data-maxquantity'));
        document.getElementById('quantity').setAttribute('max', maxQuantity);
    });

    function updateTotalPrice() {
        var price = document.getElementById('selectedProduct').options[document.getElementById('selectedProduct').selectedIndex].getAttribute('data-price');
        var quantity = document.getElementById('quantity').value;
        var totalPrice = parseFloat(price) * parseInt(quantity);
        document.getElementById('totalPrice').value = totalPrice; 
    }

    document.getElementById('selectedProduct').addEventListener('change', updateTotalPrice);
    document.getElementById('quantity').addEventListener('input', updateTotalPrice);

    document.getElementById('paidAmount').addEventListener('input', function () {
        var totalPrice = document.getElementById('totalPrice').value;
        var paidAmount = parseFloat(this.value);
        var totalDebt = parseFloat(totalPrice) - paidAmount;
        document.getElementById('totalDebt').value = totalDebt;
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
