@model IEnumerable<WareHouse_WebApp.Models.DeliveryNote>

@{
    ViewData["Title"] = "Index";
}
<header>
    <style>
        .title {
            display: flex;
            justify-content: center; /* Căn giữa theo chiều ngang */
        }
    </style>
</header>
<h1 class="title">QUẢN LÝ PHIẾU XUẤT KHO</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Mã phiếu
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Tổng tiền
            </th>
            <th>
                Phương thức TT
            </th>
            <th>
                Đã thanh toán
            </th>
            <th>
                Còn nợ
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryNoteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountOwed)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeliveryNoteId">CHỈNH SỬA</a> |
                    <a asp-action="Details" asp-route-id="@item.DeliveryNoteId" asp-route-customer="@item.CustomerId" asp-route-product="@item.ProductId">THÔNG TIN</a> |
                <a asp-action="Delete" asp-route-id="@item.DeliveryNoteId">XÓA</a>
            </td>
        </tr>
}
    </tbody>
</table>
