@model IEnumerable<WareHouse_WebApp.Models.ProductDetail>

@{
    ViewData["Title"] = "Index";

}
@{
    ViewData["Title"] = "Index";
    ProductDetail lastProductDetail = Model.LastOrDefault();

    string tmpValue = lastProductDetail.ProductId;
    TempData["LastProductDetail"] = tmpValue;
}
<header>
    <style>
        .title {
            display: flex;
            justify-content: center; /* Căn giữa theo chiều ngang */
        }
    </style>
</header>
<div class="title">
    <h1>QUẢN LÝ HÀNG HÓA</h1>
</div>

<p>
    <a asp-action="Create">THÊM MẶT HÀNG MỚI</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã sản phẩm
            </th>
            <th>
               Tên sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Giá bán
            </th>
            <th>
                Loại mặt hàng
            </th>
            <th>
                Giảm giá
            </th>
            <th>
                Ngày nhập kho
            </th>
            <th>
                Thao tác
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBuy)
            </td>
            <td>
                    <a asp-controller="GoodsReceipts" asp-action="Create" asp-route-id="@item.ProductId">TẠO PHIẾU NHẬP</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">TẠO PHIẾU XUẤT</a> |
                <a asp-action="Edit" asp-route-id="@item.ProductId">CHỈNH SỬA</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">CHI TIẾT SP</a> |
@*                 <a asp-action="Delete" asp-route-id="@item.ProductId">Xóa</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
