@model IEnumerable<WareHouse_WebApp.Models.ProductDetail>
@{
}
<h4>VIET COMPONENT TẠM Ở ĐÂY FEN</h4>
<h4>cai nay cho trang san phẩm</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="col-1" scope="col">#</th>
            <th class="col-2" scope="col">Tên sản phẩm</th>
            <th class="col-1" scope="col">Mã sản phẩm</th>
            <th class="col-1" scope="col">SL</th>
            <th class="col-2" scope="col">Giá bán</th>
            <th class="col-2" scope="col">Loại sản phẩm</th>
            <th class="col-3" scope="col">Nhà sản xuất</th>
            <th class="col-2" scope="col">Chỉnh sửa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
             <tr>
                <th scope="row">1</th>
                <td>@item.ProductName</td>
                <td>@item.ProductId</td>
                <td>@item.Amount</td>
                <td>@item.SellingPrice</td>
                <td>@item.Type</td>
                <td>Vang</td>
                
            </tr>
        }
       
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>

        </tr>
        <tr>
            <th scope="row">1</th>
            <td colspan="1">Larry the Bird</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
        </tr>
    </tbody>
</table>